*.py[cod]
rfdiffusion.egg-info

models/
schedules/

examples/ppi_scaffolds

tests/.results.json
tests/input_pdbs
tests/outputs
tests/ppi_scaffolds
tests/reference_outputs/
tests/target_folds
tests/tim_barrel_scaffold
tests/tests_*
env/SE3nv.yml
outputs/2024-11-27/14-38-34/server_mode_inference.log
outputs/2024-11-27/14-38-34/.hydra/config.yaml
outputs/2024-11-27/14-38-34/.hydra/hydra.yaml
outputs/2024-11-27/14-38-34/.hydra/overrides.yaml
